
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Freely
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
server:
  servlet:
    context-path: /api

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000  #1 hour in milliseconds

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha



